h1{
    color: black;
    font-family: 'Pushster', cursive;
    font-size: 50px;
}
.heder{
    color: orange;
}
.flexible-sec{
    display: flex;
}
.half-width{
    width: 50%;
    padding: 4%;
}
.half-width  img{
    width: 80%;
}
.buttun{
    color: black;
    background-image: linear-gradient(red, orange);
    padding: 5px 10px;
    border-radius: 5px;
    text-decoration: none;
}
.background-img{
    background-image: url(../img/top-banner.png);
    background-repeat: no-repeat;
}
body{
    margin: 0;
}
.secend-part{
    margin-top: 100px;
    background-image: url(../img/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.flex-con{
    display: flex;
}
.expreance-box{
    width: 50%;
    padding: 4%;
    margin-left: 50px;
    margin-right: 50px;
    box-shadow: 10px 10px 40px gray;

}
.third-part{
    background-image: url(../img/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#left-border{
    border-left: 8px solid;
    border-image: linear-gradient(red, orange);
    border-image-slice: 1;
}